/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.analytic_container {
  padding: 10px 00px;
  margin-bottom: 0px;
}
.main_head,
.analytic_piechart,
.anayltic_table_md {
  padding-left: 20px;
  padding-right: 20px;
}
.visitors_list {
  padding-left: 20px;
}
.main_head h2 {
  font-weight: bold;
}
.anayltic_table_md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.visitors_container {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  height: 55vh;
}
.visitors_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

/* analytics pie charts  */
.donut_chart_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.custom_donut_chart {
  margin: 30px auto !important;
  /* margin-left: 50px !important; */
}

.chart_analytic_md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.analytic_chart_div {
  width: 24%;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 10px gainsboro;
          box-shadow: 0px 0px 10px gainsboro;
  border-radius: 15px;
  position: relative;
  padding: 15px;
  padding-bottom: 10px;
  margin: 40px 0px;
  min-width: 235px;
  border: 8px inset #013220;
  /* border: 1px dotted #013220; */
}
.pie_chart {
  margin: 0px auto !important;
  background-color: #fafafa !important;
}
.chart_card_head {
  position: absolute;
  z-index: 111;
}
.chart_card_head h5 {
  font-weight: 600;
}
.legends {
  position: absolute;
  bottom: 10px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.two_legend {
  width: 60%;
  margin: 0px auto;
  left: 60px;
}
.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.legend > p {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0px 4px;
}
/* table css  */
.analytic_table_conatainer {
  width: 32%;
  /* min-width: 400px; */
  overflow-x: auto;
}
.analytic_table_sd {
  height: 50vh;
  overflow: auto;
  border: 6px inset #013220;
  /* border: 1px dotted #013220; */
  padding-right: 0px !important;
  padding-left: 5px;
  border-radius: 8px;
  margin-top: 10px;
}
.analytic_table_sd::-webkit-scrollbar {
  width: 5px;
}
.table_analytic_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table_analytic_head > p {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0px;
}
.table_analytic_head > h3 {
  font-size: 1.4rem;
  margin-bottom: 0px;
  font-weight: 600;
}
.custom_analytic_table {
  /* border: 2px solid rgb(230, 12, 12); */
  /* border-right: 3px solid red; */
  border-radius: 5px;
  margin-bottom: 0px !important;
  border-spacing: 0 10px;
  border-collapse: separate;
  border-spacing: 0 10px;
  text-indent: 0;
  width: 100%;
  min-width: 415px;
  /* margin-top: 10px; */
  font-size: 0.9em;
  text-align: center;
  overflow-x: auto;
}
.custom_analytic_table::-webkit-scrollbar {
  width: 5px;
}
.custom_analytic_table td {
  font-size: 0.75rem;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  /* border: 1px solid gainsboro; */
}
.custom_analytic_table thead {
  text-align: start;
}
.custom_analytic_table thead th {
  font-weight: 700 !important;
  font-size: 1rem;
}
.time_date > span {
  margin: 0px 3px;
}
.Laptop {
  background-color: #ffeedb !important;
  border-radius: 20px;
  color: #ff8800;
  padding: 5px 16px;
}
.Mobile {
  background-color: #dbe0ff !important;
  color: #0023ff;
  border-radius: 20px;
  padding: 5px 16px;
  /* width: 180px !important; */
}
.custom_analytic_table td {
  background-color: #fafafa;
}
.Tablet {
  color: #00c857;
  border-radius: 20px;
  background-color: #d2f6e2;
  padding: 5px 16px;
  width: 50px;
}
.Desktop {
  color: #ff0000;
  border-radius: 20px;
  background-color: #ffd4d4 !important;
  padding: 5px 12px;
}
.pm {
  background-color: black !important;
  color: white !important;
  padding: 2px 3px;
  font-size: 0.62rem;
}
.am {
  background-color: #e1e1e1 !important;
  color: black !important;
  padding: 2px 3px;
  font-size: 0.62rem;
}

/* visitors  */

.visitor_container {
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 5px gainsboro;
          box-shadow: 0px 0px 5px gainsboro;
  border-radius: 10px;
  padding: 15px;
  width: 26%;
  min-width: 370px;
  border: 6px inset #013220;
  /* border: 1px dotted #013220; */
  height: 57vh;
}
.visitor_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.visitor_head p,
.visitor_head h5 {
  margin-bottom: 0px;
}
.visitor_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.visitor_img h5 {
  margin-left: 10px;
  font-weight: bold;
}
.visitor_img img {
  width: 40px;
}
.visitor_percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.visitor_percent p {
  font-size: 0.65rem;
  font-weight: bold;
  margin-top: 8px;
  margin-right: 3px;
}
.visitor_percent h5 {
  color: #00c857;
  font-size: 1.5rem;
}
.visitor_ul {
  margin: 0px;
  padding: 0px;
  margin-top: 25px;
}
.visitor_ul img {
  width: 30px;
  height: 30px;
}
.visitor_ul p {
  margin-bottom: 0px;
}
.visitor_ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.visitorName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.visitor_ul > li > p {
  font-weight: 600;
}
.visitorName > p {
  margin-left: 10px;
  font-weight: bold;
  /* font-size: .9rem; */
}

/* analysis bar chart  */
.analysis_bar_chart_container {
  background-color: #fafafa;
  -webkit-box-shadow: 0px 0px 5px gainsboro;
          box-shadow: 0px 0px 5px gainsboro;
  border-radius: 10px;
  padding: 15px;
  border: 6px inset #013220;
  /* border: 1px dotted #013220; */
  width: 27%;
  min-width: 380px;
  margin-left: 20px;
  /* min-height: 60vh; */
  /* max-height: 40vh; */
  height: 57vh;
  /* margin-bottom: 60px; */
  padding-bottom: 24px;
}
.analysis_barChart_md > div:nth-child(2) {
  margin: 0px auto !important;
}
.bar_chart {
  width: 100%;
  height: 300px;
}
/* map  */
.analytic_google_map {
  height: 57vh;
  width: 40%;
  position: absolute;
  top: 50;
  right: 0;
}
.analytic_google_map > div > div {
  border-radius: 20px;
}
.mob_view_copy {
  display: none;
}

@media screen and (max-width: 1325px) {
  .visitors_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .analytic_map_container {
    position: relative;
  }
  .mob_view_copy {
    display: block;
    margin-top: 20px;
  }
  .copy_right_cont {
    display: none;
  }

  .analytic_google_map {
    width: 100%;
    height: 80vh;
    top: 100;
    margin-top: 20px;
    position: relative;
  }
}
@media screen and (max-width: 950px) {
  .chart_analytic_md {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .analytic_chart_div {
    width: 45%;
    margin: 20px 10px;
  }
  .anayltic_table_md {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .analytic_table_conatainer {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .visitors_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .visitor_container {
    width: 60%;
  }
  .analysis_bar_chart_container {
    margin-left: 0px;
    width: 60%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 545px) {
  .analytic_chart_div {
    width: 80%;
    margin: 20px 0px;
  }
}
@media screen and (max-width: 405px) {
  .visitor_container,
  .analysis_bar_chart_container {
    min-width: 330px;
  }
  .bar_chart {
    width: 250px !important;
  }
  .main_head,
  .analytic_piechart,
  .anayltic_table_md {
    padding-left: 8px;
    padding-right: 8px;
  }
  .visitors_list {
    padding-left: 0px;
  }
}
@media screen and (max-width: 350px) {
  .visitor_container,
  .analysis_bar_chart_container {
    min-width: 300px;
    padding: 10px;
  }
  .visitor_container p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 315px) {
  .visitor_container,
  .analysis_bar_chart_container {
    min-width: 270px;
    padding: 10px;
  }
}