.trafic_container {
  display: flex;
  /* justify-content: center; */
}
.trafic_left_content {
  width: 40%;
  padding-left: 30px;
}
.statistics_div{
    margin-top: 50px;
    /* margin-left: 70px; */
}
.statistics_div h1{
    font-size: 2rem;
    font-weight: bold;
}
.alluser{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    margin-bottom: 5px;
}
.alluser>img{
    margin-left: 15px;
}
.alluser>h5{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.trafic_right_map{
    margin-top: 30px;
    height: 100vh;
    margin-bottom: 50px;
}
.overall_users{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: -110px;
    margin-top: 100px;
    right: 10px;
    z-index: 9999;
}
.overall_users p,.overall_users h5{
   margin-bottom: 5px;
   font-weight: 600;
   font-size: .9rem;
}
.overall_users h5{
  font-size: 1.5rem;
}
.overall_users>div{
    margin: 0px 20px;
}

/* trafic table  */
.custom_table {
  border: none !important;
  border-bottom: none !important;
  border-spacing: 0 10px;
  border-collapse: separate;
  border-spacing: 0 10px;
  border: 0px;
  text-indent: 0;
  width: 100%;
  margin-top: 10px;
  font-size: 0.9em;
  text-align: center;
}
.custom_table th{
    padding-left: 0px !important;
}
.table > :not(caption) > * > * {
  border-bottom-width: inherit !important;
}
.custom_table td {
  background-color: #fafafa;
  padding-left: 0px !important;
}
.table_head{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    margin-top: 40px;
}

.table_head>p{
    margin-bottom: 0px;
    font-size: .9rem;
}
.table_head>h3{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0px;

}

/* statistics card  */
.statistics_card_md{
    display: flex;
    margin-top: 30px;
    /* margin-left: 60px; */
}
.statistics_card{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px 25px;
    border-radius: 18px;
    text-align: center;
    margin: 0px 5px;
    position: relative;
    z-index: 11111;
}
.card_body_t{
  margin-top: 30px;
}
.statistics_card p{
    font-size: .75rem;
    margin-bottom: 0px;
}
.purple{
    background-color: #8675FF;
}
.cyan{
    background-color: #67C8FF;
}
.orange{
    background-color: #FC8F66;
}

/* @media screen and (max-width:1260px){
    .statistics_card_md{
        margin-left: 10px;
    }
} */
@media screen and (max-width:1150px){
    /* .statistics_card_md{
        margin-left: 10px;
    } */
    .statistics_card{
        padding: 30px 10px;
    }
}
@media screen and (max-width:991px){
    .trafic_container{
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .trafic_right_map{
        position: relative;
    }
    .overall_users{
        bottom: -10px;
    }
    .google_map_md{
        width: 100%;
    }
    .trafic_left_content{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .statistics_card{
        padding: 30px 20px;
    }
    .statistics_card_md{
        margin-left: 50px;
    }
}

@media screen and (max-width:600px){
    .statistics_div{
        margin-left: 15px;
    }
    .table_head{
        padding: 0px 15px;
    }
    .statistics_card_md{
        margin-left: 0px;
    }
}
@media screen and (max-width:520px){
    .statistics_card{
        padding: 30px 10px;
    }
    .statistics_card img{
        width: 30px;
        height: 30px;
    }
    .overall_users p{
        font-size: .7rem;
    }
    .overall_users h5{
        font-size: 1rem;
    }
    .statistics_card h5{
        font-size: 1rem;
    }
    .trafic_left_content{
        width: 100%;
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media screen and (max-width:370px){
    .statistics_card_md{
        flex-wrap: wrap;
        justify-content: center;
    }
    .statistics_card{
        padding: 30px 15px;
    }
    .orange{
        margin-top: 15px;
    }
    .overall_users >div{
        margin: 0px 5px;
    }
    .overall_users{
        right: 5px;
    }
}
@media screen and (max-width:320px){
    .overall_users h5{
        font-size: .9rem;
    }
}