/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.trafic_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.trafic_left_content {
  width: 52%;
  padding-left: 30px;
}
.statistics_div {
  margin-top: 50px;
}
.statistics_div h1 {
  font-size: 2rem;
  font-weight: bold;
}
.alluser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
  margin-bottom: 5px;
}
.alluser > img {
  margin-left: 15px;
}
.alluser > h5 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0px;
}
.trafic_right_map {
  margin-top: 30px;
  height: 120vh;
  margin-bottom: 50px;
}
.overall_users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0px;
}
.overall_users p,
.overall_users h5 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 0.9rem;
}
.overall_users h5 {
  font-size: 1.5rem;
}
.overall_users > div {
  margin: 0px 20px;
}

/* trafic table  */

.trafic_table_sd {
  /* height: 120vh; */
  overflow: auto;
  margin-top: 15px;
  max-height: 120vh;
}
.trafic_table_sd::-webkit-scrollbar {
  width: 5px;
}
.custom_table {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  border: 11px inset #013220;
  /* border: none; */
  /* border-bottom: none; */
  border-spacing: 0 10px;
  border-collapse: separate;
  border-spacing: 0 10px;
  /* border: 0px; */
  text-indent: 0;
  width: 100%;
  /* margin-top: 10px; */
  font-size: 1em;
  text-align: center;
  min-width: 500px;
}
.custom_table th {
  padding-left: 0px !important;
  font-size: 1.2rem;
  font-weight: 700 !important;
}
.table > :not(caption) > * > * {
  border-bottom-width: inherit !important;
}
.custom_table a {
  text-decoration: none;
  color: inherit;
  width: unset;
}
.custom_table td {
  /* background-color: #fafafa; */
  padding-left: 0px !important;
}
.custom_table tr {
  cursor: pointer;
}
.red td {
  background-color: rgb(252, 119, 119);
  color: white;
}
.lightBlue td {
  background-color: lightblue;
}
.table_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.table_head > p {
  margin-bottom: 0px;
  font-size: 0.9rem;
}
.table_head > h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0px;
}

/* statistics card  */

.statistics_card_md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.statistics_card {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 13px;
  border-radius: 18px;
  text-align: center;
  margin: 0px 5px;
  position: relative;
  z-index: 11111;
}
.card_body_t {
  margin-top: 20px;
}
.statistics_card img {
  width: 30px;
  height: 30px;
}
.statistics_card p {
  font-size: 0.65rem;
  margin-bottom: 0px;
}
.statistics_card h5 {
  font-size: 0.9rem;
}
.purple {
  background-color: #8675ff;
}
.cyan {
  background-color: #67c8ff;
}
.orange {
  background-color: #fc8f66;
}
@media screen and (max-width: 1150px) {
  .statistics_card {
    padding: 20px 10px;
  }
  .users > h5 {
    font-size: 1rem;
  }
  .users > p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 991px) {
  .trafic_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }
  .trafic_right_map {
    position: relative;
    /* margin-bottom: 50px; */
  }
.copyR_tr_md{
  margin-top: 20px;
}
  .google_map_md {
    width: 100%;
  }
  .trafic_left_content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .statistics_card {
    padding: 15px 10px;
  }
  .statistics_card_md {
    margin-top: 10px;
  }
  .trafic_right_map {
    margin-bottom: 30px;
  }
  .statistic_card_ {
    bottom: -15px;
  }
}

@media screen and (max-width: 600px) {
  .statistics_div {
    margin-left: 15px;
  }
  .table_head {
    padding: 0px 15px;
  }
  .statistics_card_md {
    margin-left: 0px;
  }
}
@media screen and (max-width: 520px) {
  .statistics_card img {
    width: 30px;
    height: 30px;
  }
  .overall_users {
    right: 2px;
  }
  .overall_users > div {
    margin: 0px 5px;
  }
  .overall_users p {
    font-size: 0.7rem;
  }
  .overall_users h5 {
    font-size: 0.9rem;
  }
  .statistics_card h5 {
    font-size: 0.9rem;
  }
  .trafic_left_content {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media screen and (max-width: 450px) {
  .statistics_card_md {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* flex-direction: column; */
  }
  .statistics_card_md > div:nth-child(4) {
    margin-top: 10px;
  }
  .copyR_tr_md{
    margin-top: 140px;
  }
}
@media screen and (max-width: 370px) {
  .statistic_card_ {
    bottom: 10px;
  }
  .statistics_card {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .trafic_right_map {
    margin-bottom: 5px;
  }
  .statistics_card {
    padding: 15px 8px;
  }
  .statistics_card > .card_body_t {
    margin-top: 5px;
  }
  .statistics_card p {
    font-size: 0.6rem;
  }
  .statistics_card h5 {
    font-size: 0.8rem;
  }
  .statistics_card img {
    width: 20px;
    height: 20px;
  }
  .overall_users > div {
    margin: 0px 5px;
  }
  .overall_users {
    right: 5px;
  }
}
@media screen and (max-width: 325px) {
  .overall_users h5 {
    font-size: 0.75rem;
  }
  .overall_users p {
    font-size: 0.6rem;
  }
  .statistics_card h5 {
    font-size: 0.7rem;
  }
  .statistics_card p {
    font-size: 0.6rem;
  }
}