.custom_nav{
    display: flex !important;
    justify-content: space-between;
    padding: 10px 30px !important;
    background-color: #013220;
}
.navbar-collapse{
    flex-grow: inherit !important;
    /* margin-right: 20px !important; */
}
.secnd_nav_ul{
    margin-right: 40px !important;
}
.nav-link{
    padding: .5rem 1rem !important;
}
.nav_icons{
    width: 20px;
    margin-top: 10px;
    opacity: .7;
}

/* copyright  */

.copy_right_container{
    background-color: #013220;
    color: white;
    text-align: center;
    padding: 12px ;
}
.copyRight{
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyRight p{
    margin-bottom: 0px;
    margin-left: 10px;
}